# Copie este arquivo para .env e preencha os valores
VERIFY_URL=https://injiverify.credenciaisverificaveis-dev.dataprev.gov.br
WIREMOCK_URL=https://wiremock.credenciaisverificaveis-dev.dataprev.gov.br
WIREMOCK_KEY=
BANK_ID=
BANK_SECRET=
