# Copie este arquivo para .env e preencha os valores

# Verify (obrigatório)
VERIFY_URL=https://injiverify.credenciaisverificaveis-dev.dataprev.gov.br
WIREMOCK_URL=https://wiremock.credenciaisverificaveis-dev.dataprev.gov.br
WIREMOCK_KEY=
BANK_ID=
BANK_SECRET=

# Certify / Gov.br SSO (obrigatório para simulate-bank-flow-full.py)
SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
CERTIFY_URL=http://injicertify.credenciaisverificaveis-dev.dataprev.gov.br/v1/certify
CERTIFY_IDENTIFIER=https://injicertify.credenciaisverificaveis-dev.dataprev.gov.br
